<!doctype html>
<html lang="en">

<head>
  <script>
    window.dataLayer = window.dataLayer || [];
  </script>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KKPKL2Q');</script>
  <!-- End Google Tag Manager -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Anny Cheng</title>
  <link rel="icon" type="image/png" sizes="32x32" href="favicon.png">
  <link rel="icon" type="image/png" sizes="192x192" href="logo192.png">
  <link rel="icon" type="image/png" sizes="512x512" href="logo512.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <script src="https://kit.fontawesome.com/593ed42b03.js" crossorigin="anonymous"></script>
  <link rel="manifest" href="manifest.json">
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KKPKL2Q"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="container p-0" id="app">
    <!--navbar-->
    <nav class="navbar navbar-expand-md navbar-light p-0">
      <div class="container-fluid border border-dark px-0 d-flex">
        <a class="navbar-brand  border-end border-dark m-0 p-2" :href="logo.link">
          <svg viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" width="40" height="40">
            <mask id="mask__beam" maskUnits="userSpaceOnUse" x="0" y="0" width="36" height="36">
              <rect width="36" height="36" rx="72" fill="white"></rect>
            </mask>
            <g mask="url(#mask__beam)">
              <rect width="36" height="36" fill="#212529"></rect>
              <rect x="0" y="0" width="36" height="36" transform="translate(4 4) rotate(350 18 18) scale(1.2)"
                fill="#f5dd9d" rx="6"></rect>
              <g transform="translate(6 -6) rotate(0 18 18)">
                <path d="M15 21c2 1 4 1 6 0" stroke="black" fill="none" stroke-linecap="round"></path>
                <rect x="14" y="14" width="1.5" height="2" rx="1" stroke="none" fill="black"></rect>
                <rect x="20" y="14" width="1.5" height="2" rx="1" stroke="none" fill="black"></rect>
              </g>
            </g>
          </svg>
        </a>
        <h1 class="m-0 flex-grow-1 text-center border-end border-dark">
          {{logo.name}}
        </h1>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
          <ul class="nav d-none d-md-flex" id="accordion">
            <li class="nav-item border-end border-dark flex-fill">
              <a class="accordion-button collapsed" data-bs-toggle="collapse" href="#about">About</a>
            </li>
            <li class="nav-item flex-fill">
              <a class="accordion-button collapsed" href="#work" @click="{isShow=false;tagFilter=''}">Work</a>
            </li>
            <li class="nav-item border-start border-dark flex-fill">
              <a class="accordion-button collapsed" data-bs-toggle="collapse" href="#contact">Contact</a>
            </li>
          </ul>
          <div class="d-block d-md-none border-top border-dark p-3">
            <p class="mb-2">{{about.mobile}}</p>
            <a v-for="(item,key) in contacts" :href="item.link" target="_blank" :key="key">
              <i :class="item.icon" class="fa-lg pe-1"></i>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <!--desktop accordion content-->
    <div class="d-none d-md-block" id="accordionContent">
      <div class="fade accordion-collapse collapse border border-top-0 border-dark p-3" id="about">
        {{about.desktop}}
      </div>
      <div class="fade accordion-collapse collapse border border-top-0 border-dark p-3" id="contact">
        <ul class="m-0 ps-3">
          <li v-for="(item,key) in contacts">
            <a :href="item.link" target="_blank">{{item.name}}</a>
          </li>
        </ul>
      </div>
    </div>
    <main v-show="!isShow">
      <!--header-->
      <header class="d-none d-md-block border border-dark p-4 mt-3">
        <h1 class="p-0 m-0">Hi, I'm <span class="text-empty">Anny Cheng</span>.<br /> I <span
            class="text-empty">build</span>
          websites, <span class="text-empty">make</span> potteries, <span class="text-empty">play</span> badminton
          & <span class="text-empty">hike</span> in the mountains.</h1>
      </header>
      <!--works navbar-->
      <div class="row mt-3" id="work">
        <div class="btn-group flex-wrap" role="group">
          <button type="button" class="btn btn-outline-dark rounded-0" @click="tagFilter=''"
            :class="{active:tagFilter===''}">All</button>
          <button type="button" class="btn btn-outline-dark rounded-0" @click="tagFilter='Vue'"
            :class="{active:tagFilter==='Vue'}">Vue</button>
          <button type="button" class="btn btn-outline-dark rounded-0" @click="tagFilter='Bootstrap'"
            :class="{active:tagFilter==='Bootstrap'}">Bootstrap</button>
          <button type="button" class="btn btn-outline-dark  rounded-0" @click="tagFilter='JavaScript'"
            :class="{active:tagFilter==='JavaScript'}">JavaScript</button>
        </div>
      </div>
      <!--works list-->
      <div class="row mt-3">
        <div class="work col-12 col-md-6 col-lg-4 mb-3" v-for="(item,index) in filterWorks" :key="index"
          @click="showDetail(item)">
          <div class="item border border-dark p-3 position-relative">
            <div class="position-relative">
              <img class="img-fluid w-100 border border-dark" :src="item.imgCover" :alt="item.name">
              <span class="badge text-light position-absolute top-0 start-0">{{item.skill}}</span>
              <button class="btn text-light rounded-circle position-absolute top-50 start-50" @click="showDetail(item)">
                <i class="fas fa-external-link-alt"></i>
              </button>
            </div>
            <h2 class="text-center m-0 pt-2">{{item.name}}</h2>
          </div>
        </div>
      </div>
    </main>
    <!--work detail-->
    <div class="row my-3 position-relative" v-show="isShow">
      <div class="col-12 mb-2 d-flex justify-content-between">
        <button class="btn btn-sm btn-outline-dark rounded-0" @click="isShow=false">
          <span>↖</span>
          Back
        </button>
        <div class="btn-group">
          <a class="btn btn-sm btn-outline-dark rounded-0" :href="temp.codeLink" target="_blank">
            Code
            <span>↗</span>
          </a>
          <a class="btn btn-sm btn-outline-dark rounded-0" :href="temp.webLink" target="_blank">
            Web
            <span>↗</span>
          </a>
        </div>

      </div>
      <div class="col-lg-6 mb-2">
        <div class="p-3 bg-light border border-dark">
          <h2 class="text-center">{{temp.name}}</h2>
          <span class="badge me-2">{{temp.skill}}</span>
          <span class="badge">{{temp.time}}</span>
          <ul class="m-0 ps-3">
            <li class="m-1" v-for="item in temp.description">{{item}}</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="bg-light border border-dark p-3">
          <img class="img-fluid w-100" :src="item" :alt="temp.name" v-for="item in temp.imgDetail">
        </div>
      </div>
    </div>
    <!--footer-->
    <footer>
      <div class="border border-dark text-center py-2">{{copyright}}</div>
    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script type="module">
    import { createApp, ref, computed, reactive } from 'https://cdnjs.cloudflare.com/ajax/libs/vue/3.1.4/vue.esm-browser.min.js'
    const app = createApp({
      setup() {
        const logo = ref({
          link: "https://chengyuu.github.io/",
          name: "Anny Cheng",
        })
        const about = ref({
          mobile: "Hey there, I'm Anny Cheng, a junior front-end developer based in Taipei, Taiwan. Please feel free to contact me via mail. ㋡",
          desktop: "I used to be a project manager on urban renewal with 2.5 years experience in communication and problem-solving. Currently I'm curious about web front-end development, and have taught myself related skills, such as HTML/CSS/JavaScript, Bootstrap & Vue, also apply them to my projects. Welcome to my website, scroll down to see more."
        })
        const contacts = ref([
          {
            name: "Email：amy853310@gmail.com",
            link: "mailto:amy853310@gmail.com",
            icon: "fas fa-envelope"
          },
          {
            name: "LinkedIn：Yu Cheng",
            link: "https://www.linkedin.com/in/yu-cheng-19960228/",
            icon: "fab fa-linkedin-in"
          },
          {
            name: "GitHub：chengyuu",
            link: "https://github.com/chengyuu",
            icon: "fab fa-github"
          },
          {
            name: "CodePen：chengyu0228",
            link: "https://codepen.io/chengyu0228/",
            icon: "fab fa-codepen"
          },
        ])
        const works = ref([
          {
            name: "Countries of the World",
            imgCover: "img/countries website.png",
            imgDetail: [
              "img/countries website-play.gif"
            ],
            skill: "Vue",
            time: "2021",
            description: [
              "此為介紹世界各國的網站，使用 Vue.js v3 架設而成，並以 Axios 套件載入 RestFul API。", "導覽列：可篩選不同地區的國家，預設顯示全部。", "內容左側：顯示篩選後的國家列表、筆數和頁數，下方按鈕可切換頁數；另外可直接於輸入框搜尋特定的國家。", "內容右側：顯示排名，分別為最多人口數和土地面積最大的國家、最多國家使用的語言和貨幣。",
              "A website introducing countries of the world, created by Vue.js v3 and used Axios to get data from RestFul API.", "You can filter countries by region or search for specific country. It also shows ranking of population, area, languages and currencies."
            ],
            codeLink: "https://github.com/chengyuu/Countries-Of-The-World",
            webLink: "https://chengyuu.github.io/Countries-Of-The-World/"
          },
          {
            name: "Funding Platform",
            imgCover: "img/funding platform.png",
            imgDetail: [
              "img/funding platform-play.gif"
            ],
            skill: "Bootstrap",
            time: "2021",
            description: [
              "將募資平台的設計稿切版符合 RWD，CSS 使用 Bootstrap 5 的樣式，並且客製化修改其 Sass 原始檔案。", "JavaScript 部分：使用 Bootstrap 內建的工具提示框及表單驗證功能；另增加頁籤切換時，畫面移至對應位置。",
              "Converted design layouts to responsive website using Bootstrap v5, and customized by compiling Sass source files.",
              "Using Bootstrap's JavaScript plugins for function of tooltips and form validation. And add function while the tabs are clicked, the window will scroll to top."
            ],
            codeLink: "https://github.com/chengyuu/Bootstrap5-practice",
            webLink: "https://chengyuu.github.io/Bootstrap5-practice/"
          },
          {
            name: "Whack-A-Mole",
            imgCover: "img/whack-a-mole.png",
            imgDetail: [
              "img/whack-a-mole-play.gif"
            ],
            skill: "JavaScript",
            time: "2021"
            ,
            description: [
              "打地鼠遊戲啟發自 Wes Bos 的 JavaScript 30 課程，網站使用純 CSS 及 JavaScript。",
              "以資料控制畫面撰寫。將每隻地鼠的狀態預設為 false，遊戲時間內每 0.5 秒會隨機生成一個序號，將其狀態改為 true，並使用 Proxy 增加 class 來顯示畫面以及點擊後增加分數的功能，而在時間到後將該序號的狀態則會改為 false。",
              "Whack-A-Mole was inspired by a series of JavaScript courses from Wes Bos, and was created by pure CSS & JavaScript.",
              "The view of the game is controlled by data. Every mole has its own status, every 0.5 second will random a index during the game and change it's status to true, then use Proxy to operate the object."
            ],
            codeLink: "https://github.com/chengyuu/javascript30/tree/main/javascript30-30",
            webLink: "https://chengyuu.github.io/javascript30/javascript30-30/javascript30-30.html"
          },
        ])
        // 篩選作品的 skill
        const tagFilter = ref('')
        const filterWorks = computed(() => {
          const newWorks = works.value.filter(item => {
            return item.skill === tagFilter.value
          })
          if (!tagFilter.value) return works.value
          return newWorks
        })
        // 頁面顯示切換
        const isShow = ref(false)
        const temp = ref({})
        function showDetail(item) {
          isShow.value = true
          temp.value = { ...item }
        }
        // copyright 自動更新年份
        const copyright = ref(`copyright © ${new Date().getFullYear()} Anny Cheng.`)
        return {
          logo,
          about,
          contacts,
          works,
          tagFilter,
          filterWorks,
          isShow,
          temp,
          showDetail,
          copyright,
        }
      }
    })
    app.mount('#app')
  </script>
</body>

</html>